.feature{
    margin: 100px;
}

.feature-text h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.feature-text p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #475467;
}

.benefit{
    margin-top: 32px;
}

.feature-item{
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    transition: 0.3s;
    margin-bottom: 24px;
}

.feature-item:hover{
    transition: 0.3s;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.feature-item img{
    width: 48px;
    height: 100%;
    margin-bottom: 16px;
}

.feature-item h4{
    font-size: 24px;
    font-weight: 00;
}

.feature-item p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.feature-image img{
    width: 100%;
    height: 890px;
}