.container{
    max-width: 1920;

}

.footer{
    background-color: #000;
    color: #fff;
    padding: 64px 100px;
}

.footer-left img{
    margin-bottom: 16px;
    height: 32px;
    width: auto;
}

.footer-left p{
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
    margin-bottom: 16px;
}

.footer-right{
    display: flex;
}

.footer-right h4{
    margin-bottom: 16px;
    font-weight: 700;
}

.footer-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-right li{
    margin-bottom: 8px;
}

.footer-right a{
    text-decoration: none;
    color: #C4C4C4;
    font-size: 16px;
}

.divider{
    width: 1px;
    height: 100px;
    background-color: #C4C4C4;
    margin: 0 32px;
}
